body{
    
    background-color: #f1f5f8;
    display: block;
    justify-content: center;
    width: 100%;
}
.header{
    height: 40px;
    background-color: white;
    width: 100%;
    /*padding: 5px;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 30px grey;
}

#color{ 
    color: rgb(43, 151, 170);
}
#code{
    color: rgb(19, 53, 90);
    width: 13%;
    display: flex;
    justify-content: space-around;
    padding-left: 2%;
}

#code h1:hover{
    color: rgb(43, 151, 170) ;
    cursor: pointer;
}
h1{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}

main{
    display: block;
    margin: auto;
    justify-content: center;
}
.bgrnd{
    width: max-content;
    height: 65px;
    margin-top: 14%;
    padding-left: 10px;
    padding-right: 10px;
    color: azure;
    background-color: rgb(14, 13, 13);
    border-radius: 10px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background: none;
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    box-shadow: 0px 1px 5px rgb(38, 37, 36);
    width: fit-content;
    height: 40px;
    margin-top: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
button:hover{
    background: black;
    color: white;
    cursor: pointer;
}

@media (max-width: 700px) {
    
}